*{margin: 0px; padding: 0px;}

body{
    font-family: 'Exo 2', sans-serif;
}

p{
    margin: 0;
    padding-bottom: 5px;
}


.p-t-100{
    padding-top: 100px;
}

.p-t-90{
    padding-top: 90px;
}



.image{
    width: 100%;
}


.image img{
    width: 30%;  
    margin: 0 auto;
}

.image h3{
    color: dimgrey;
}

a{
    padding: 5px;
    font-size: 20px;
}

i{
    
    color: black;
}

.fa-facebook{
    color: white;
    background: darkblue;
    padding: 5px 8px;
    
}

.fa-twitter{
    color: white;
    background:skyblue;
    padding: 5px;
}

.fa-github{
    color: white;
    background:black;
    padding: 5px;
}